.div-color {
    background-color: hsl(30, 38%, 92%)
}

/* @media (max-width: 608px) {
    .image > img:nth-child(2) {
        display: none;
    }
    
} */

.btn {
    background-color: hsl(158, 36%, 37%);
}

.txt {
    color: hsl(158, 36%, 37%);
}